.card{
    background-color: #FFF6F6;
    border-radius: 32px;
    box-shadow: 2px 4px 4px rgba(255, 105, 105, 0.5);
    border: 1px solid #FEAAAA;
    display: flex;
    gap: 32px;
    flex-direction: column;
    transition: transform 0.7s;
    text-align: left;
}

.card_title {
    font-size: 32px;
    color: #0C0909;
    font-weight: 400;
    margin: 32px 32px 0 32px;

}

.card_img{
    width: 340px;
    height: 328px;
}


.card_content {
    display: flex;
    gap: 24px;
    margin: 0 32px 32px;
    height: 100%;
}

.card_description {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.card_text {
    margin: 0;
    padding: 0;
    width: 195px;
    word-wrap: break-word;
    max-height: 261px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_link {
    margin: auto 0 0 auto;
}