.header {
    background-color: #FCCBCB;
    margin: 0;
    padding: 0;
    height: 10rem;
    display: flex;
    align-items: center;
}

.header_menu {
    margin: auto;
    margin-right: 4rem;
    display: flex;
    gap: 2rem;
}

#icon {
    margin-left: 4rem;
}
